# Ignore maven build directory
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore IDE-specific files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# General rule for node_modules (if you have any frontend)
node_modules/

# Ignore any general logs, debug files
*.log
*.bak
*.swp

# Ignore environment-specific files
.env

#images
smart-ride-backend/src/main/resources/static/images/**
