#visibility-icon {
  color: #14a89d;
}

#delete-icon {
  color: crimson;
}

th {
  color: #14a89d;
}

.table-toolbar {
  display: flex;
  justify-content: end;
}
.add-button {
  margin-right: 20px;
}
