<div class="form-container">
  <mat-card class="form-card" appearance="outlined">
    <mat-card-header class="form-header">
      <mat-card-title class="title">Update Manufacturer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="manufacturerForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Id</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Country</mat-label>
          <input matInput formControlName="country" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Fax</mat-label>
          <input matInput formControlName="fax" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mail</mat-label>
          <input matInput formControlName="mail" />
        </mat-form-field>

        @if(conflict) {
        <p class="error">Manufacturer with given id doesn't exist</p>
        }

        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            (click)="submitForm()"
            [disabled]="manufacturerForm.invalid"
          >
            Update
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
