.details-container {
  margin: 30px;
  padding: 10px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
.vehicle-image {
  height: 400px;
  border-radius: 20px;
}
.top-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bottom-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 60px;
  border-bottom: 1px solid #bebebe;
}

h2 {
  padding-left: 10px;
}
.rentals-container {
  border: 1px solid rgb(153, 153, 153);
  flex: 1;
  padding: 5px;
  border-radius: 5px;
}

.failures-container {
  border: 1px solid rgb(153, 153, 153);
  flex: 1;
  padding: 5px;
  border-radius: 5px;
}
