<mat-toolbar color="accent">
  <button mat-icon-button class="hamburger-icon" (click)="onToggleSidebar()">
    <mat-icon class="font-color-blue">menu</mat-icon>
  </button>
  <span class="font-color-blue">Smart ride</span>
  <span class="spacer"></span>
  <p class="font-color-blue">{{ username }}</p>
  <mat-icon class="font-color-blue">person</mat-icon>

  <button
    mat-icon-button
    class="logout-icon"
    (click)="logout()"
    matTooltip="Logout"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
