<div class="manager-main">
  <app-header (toggleSidebar)="sidenav.toggle()"> </app-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="vehicles" (click)="sidenav.toggle()"
          >Vehicles</a
        >
        <a mat-list-item routerLink="manufacturers" (click)="sidenav.toggle()"
          >Manufacturers</a
        >
        <a mat-list-item routerLink="users" (click)="sidenav.toggle()">Users</a>
        <a mat-list-item routerLink="rentals" (click)="sidenav.toggle()"
          >Rentals</a
        >
        <a mat-list-item routerLink="map" (click)="sidenav.toggle()"
          >Vehicle map</a
        >
        <a mat-list-item routerLink="add-failure" (click)="sidenav.toggle()"
          >Add failure</a
        >
        <a
          mat-list-item
          routerLink="rental-price-config"
          (click)="sidenav.toggle()"
          >Rental prices</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet /></mat-sidenav-content>
  </mat-sidenav-container>
</div>
