<div class="form-container">
  <mat-card class="form-card" appearance="outlined">
    <mat-card-header class="form-header">
      <mat-card-title class="title">Add {{ vehicleType }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="vehicleForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Manufacturer</mat-label>
          <mat-select formControlName="manufacturer">
            @for (m of manufacturers; track $index) {
            <mat-option [value]="m">{{ m }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Model</mat-label>
          <input matInput formControlName="model" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="purchasePrice" />
        </mat-form-field>

        @if (vehicleType === 'car') {
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Purchase Date</mat-label>
          <input matInput type="date" formControlName="purchaseDateTime" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
        } @if (vehicleType === 'e-bike') {
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Max Range</mat-label>
          <input matInput type="number" formControlName="maxRange" />
        </mat-form-field>
        } @if (vehicleType === 'e-scooter') {
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Max Speed</mat-label>
          <input matInput type="number" formControlName="maxSpeed" />
        </mat-form-field>
        }

        <div class="image-input-container">
          @if(selectedImage) {
          <div class="fileName">
            <p>{{ selectedImage.name }}</p>
          </div>
          }
          <button mat-raised-button (click)="openFileDialog()">
            Add picture
            <mat-icon>add</mat-icon>
          </button>
          <input
            type="file"
            #fileInput
            accept="image/*"
            (change)="onFileSelected($event)"
            hidden
          />
        </div>

        @if(conflict) {
        <p class="error">{{ vehicleType }} with given id already exists!</p>
        }

        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            (click)="submitForm()"
            [disabled]="vehicleForm.invalid || !selectedImage"
          >
            Add {{ vehicleType }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
