<div class="operator-main">
  <app-header (toggleSidebar)="sidenav.toggle()"> </app-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="rentals" (click)="sidenav.toggle()"
          >Rentals</a
        >
        <a mat-list-item routerLink="vehicle-map" (click)="sidenav.toggle()"
          >Vehicle map</a
        >
        <a mat-list-item routerLink="clients" (click)="sidenav.toggle()"
          >Clients</a
        >
        <a mat-list-item routerLink="add-failure" (click)="sidenav.toggle()"
          >Add failure</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet /></mat-sidenav-content>
  </mat-sidenav-container>
</div>
